@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --body: #fefefe;
  --color-white: #fff;
  --container: 80rem;
  --black: #131313;
}

body{
  background-color: #dcdce6;
  background-image: url('./assets/Background.png');
}

/* Utilities */
a{
  text-decoration: none;
}

ul, li{
  margin: 0;
}